<link rel="stylesheet" href="{{ 'product-card.css' | asset_url }}">

<div
  class="product-card d-flex flex-column"
  style="
    background: {{ settings.product_card_bg }};
    text-align: {{ settings.product_card_text_alignment }};
  "
>
  <button
    data-with-epi="true"
    class="wishlist-btn position-absolute swym-button swym-add-to-wishlist-view-product product_{{product.id}}"
    data-swaction="addToWishlist"
    data-product-id="{{product.id | json}}"
    data-variant-id="{{product.variants[0].id}}"
    data-product-url="{{ shop.url }}{{ product.url }}"
  ></button>

  <a
    href="{%- if collection_url != blank -%}{{ collection_url }}{%- endif -%}{{ product.url }}"
    class="product-link"
  >
    {%- if product.tags contains 'Badge_New' -%}
      <div
        class="product-new-tag"
        style="
          background: {{ settings.product_card_new_badge_bg }};
          color: {{ settings.product_card_new_badge_font_color }};
        "
      >
        NEW!
      </div>

    {%- elsif product.tags contains 'Badge_Off' -%}
      {%- assign actual_price = product.compare_at_price | money_without_currency -%}
      {%- assign less_price = product.price | money_without_currency -%}
      {%- assign subtract_value = actual_price | minus: less_price | times: 100 | divided_by: actual_price | ceil -%}
      <div
        class="product-off-tag"
        style="
          background: {{ settings.product_card_off_badge_bg }};
          color: {{ settings.product_card_off_badge_font_color }};
        "
      >
        {{ subtract_value }}% OFF
      </div>
    {%- endif -%}

    <div class="product-img-container">
      {%- if product.featured_image != blank -%}
        <img
          src="{{ product.featured_image | image_url }}"
          width=""
          class="w-100"
          height=""
          loading="lazy"
        >
      {%- else -%}
        {{ 'product-apparel-1' | placeholder_svg_tag: 'placeholder-svg w-100' }}
      {%- endif -%}
    </div>

    <p
      class="product-discription font-family-header mb-2"
      style="color: {{ settings.product_card_title_font_color }}; !important;"
    >
      {{ product.title }}
      {%- if color != null -%}
        -{{ color }}
      {%- endif -%}
    </p>

    <div
      class="yotpo bottomLine"
      data-product-id="{{ product.id }}"
    ></div>

    {%- if color != null -%}
      <div class="color-list-container d-flex">
        <span style="color: {{ settings.product_card_title_font_color }};">Color: </span>
        <ul class="color-list-wrapper d-flex align-items-center w-75">
          <li class="color-list" style="background-color: {{ color }};" data-color="{{ color }}"></li>
        </ul>
      </div>
    {%- endif -%}

    {%- for options in product.options_with_values -%}
      {%- if options.name == 'Size' -%}
        {% comment %} {%- else -%} {% endcomment %}
        <div class="color-list-container d-flex">
          <span style="color: {{ settings.product_card_title_font_color }};">Size: </span>

          <ul class="color-list-wrapper d-flex align-items-center w-75">
            {%- for value in options.values -%}
              <li class="size-list d-flex align-items-center">
                <span style="line-height:0;">
                  {{ value | split: '' | first }}
                </span>
              </li>
            {% endfor %}
          </ul>
        </div>
      {%- endif -%}
    {% endfor %}

    {% comment %}
      {%- if product.variants[0].options[0] != 'Default Title' -%}
        <div class="color-list-container d-flex">
          <span style="color: {{ settings.product_card_title_font_color }};">Colors: </span>
          <ul class="color-list-wrapper d-flex align-items-center w-75">
            {% for variant in product.variants %}
              {% for option in variant.options %}
                {%- if option != 'Default Title' -%}
                  <li class="color-list" style="background-color: {{ option }};"></li>
                {%- endif -%}
              {% endfor %}
            {% endfor %}
          </ul>
        </div>
      {%- endif -%}
    {% endcomment %}

    {%- if product.price == product.compare_at_price -%}
      <span
        class="product-price d-inline-block"
        style="color: {{ settings.product_card_price_font_color }};"
      >
        {{- product.price | money -}}
      </span>
    {%- else -%}
      <span class="product-price product-price-with-line-through d-flex align-items-center">
        <span style="color: {{ settings.product_card_sale_price_font_color }};">
          {{- product.price | money -}}
        </span>
        <span
          class="product-price-line-through"
          style="color: {{ settings.product_card_actual_price_font_color }};"
        >
          {{- product.compare_at_price | money -}}
        </span>
      </span>
    {%- endif -%}
  </a>

  <div
    class="recharge-widget"
    id="recharge-widget-{{ product.id }}"
    data-product-id="{{ product.id }}"
    data-selling-plan="{{ product.selling_plan_groups | json }}"
  ></div>
</div>
