{% comment %}
  Renders social icons.
  Accepts:
  - class: {String} a class to be added to the <ul> element (optional).

  Usage:
  {% render 'social-icons',
    class: 'my-class'
  %}
{% endcomment %}

<ul class="list-unstyled list-social{% if class %} {{ class}}{% endif %}" role="list">
  {%- if settings.social_facebook_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_facebook_link }}" class="link list-social__link">
        {% comment %} {%- render 'icon-facebook' -%} {% endcomment %}
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="46"
          height="46"
          viewBox="0 0 46 46"
          fill="none"
        >
          <circle cx="23" cy="23" r="23" fill="#1A1A1A" />
          <path
            d="M28.0094 24.2494L28.565 20.63H25.0919V18.2812C25.0919 17.2912 25.5769 16.3256 27.1325 16.3256H28.7112V13.2444C28.7112 13.2444 27.2787 13 25.9087 13C23.0487 13 21.1794 14.7338 21.1794 17.8719V20.6306H18V24.25H21.1794V33H25.0919V24.25L28.0094 24.2494Z"
            fill="white"
          />
        </svg>
        <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_instagram_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_instagram_link }}" class="link list-social__link">
        {% comment %} {%- render 'icon-instagram' -%} {% endcomment %}
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="46"
          height="46"
          viewBox="0 0 46 46"
          fill="none"
        >
          <circle cx="23" cy="23" r="23" fill="#1A1A1A" />
          <path
            d="M23 13C20.2815 13 19.9427 13.0131 18.8789 13.0581C17.8106 13.1106 17.088 13.2763 16.4504 13.5238C15.7928 13.7813 15.2328 14.1233 14.6796 14.6796C14.1226 15.2328 13.7776 15.7928 13.5238 16.4504C13.2763 17.088 13.1106 17.8106 13.0581 18.8789C13.01 19.9434 13 20.2815 13 23C13 25.7185 13.0131 26.0573 13.0581 27.1211C13.1106 28.1863 13.2763 28.912 13.5238 29.5496C13.7813 30.2072 14.1233 30.7672 14.6796 31.3204C15.2328 31.8774 15.7928 32.2224 16.4504 32.4762C17.088 32.7206 17.8137 32.8894 18.8789 32.9419C19.9434 32.99 20.2815 33 23 33C25.7185 33 26.0573 32.9869 27.1211 32.9419C28.1863 32.8894 28.912 32.72 29.5496 32.4762C30.2072 32.2187 30.7672 31.8767 31.3204 31.3204C31.8774 30.7672 32.2224 30.2103 32.4762 29.5496C32.7206 28.912 32.8894 28.1863 32.9419 27.1211C32.99 26.0566 33 25.7185 33 23C33 20.2815 32.9869 19.9427 32.9419 18.8789C32.8894 17.8137 32.72 17.0843 32.4762 16.4504C32.2187 15.7928 31.8767 15.2328 31.3204 14.6796C30.7672 14.1226 30.2103 13.7776 29.5496 13.5238C28.912 13.2763 28.1863 13.1106 27.1211 13.0581C26.0566 13.01 25.7185 13 23 13ZM23 14.8002C25.6697 14.8002 25.9885 14.8134 27.0436 14.8584C28.0169 14.904 28.5469 15.0665 28.8989 15.204C29.3683 15.3859 29.6965 15.601 30.0515 15.9522C30.3997 16.3004 30.6147 16.6323 30.7966 17.1018C30.9341 17.4537 31.0966 17.9837 31.1423 18.957C31.1873 20.0121 31.2004 20.3315 31.2004 23.0006C31.2004 25.6697 31.1873 25.9891 31.1385 27.0443C31.086 28.0175 30.9235 28.5476 30.7866 28.8995C30.5972 29.3689 30.3859 29.6971 30.0371 30.0521C29.6852 30.4003 29.3502 30.6153 28.8845 30.7972C28.5369 30.9347 27.9994 31.0973 27.0224 31.1429C25.9616 31.1879 25.6491 31.201 22.9725 31.201C20.2959 31.201 19.984 31.1879 18.922 31.1391C17.9487 31.0866 17.4118 30.9241 17.0599 30.7872C16.5848 30.5978 16.2592 30.3866 15.9104 30.0378C15.5584 29.6858 15.3347 29.3508 15.1621 28.8851C15.0221 28.5376 14.8621 28 14.8102 27.023C14.7746 25.9747 14.7577 25.6497 14.7577 22.9856C14.7577 20.3228 14.7746 19.9971 14.8102 18.9357C14.8621 17.9587 15.0221 17.4224 15.1621 17.0736C15.3347 16.598 15.5591 16.2729 15.9104 15.921C16.2585 15.5728 16.5848 15.3478 17.0599 15.1715C17.4118 15.0346 17.9356 14.8721 18.9126 14.8234C19.9734 14.7852 20.2859 14.7715 22.9587 14.7715L23 14.8002ZM23 17.8675C20.1615 17.8675 17.8662 20.1659 17.8662 23.0013C17.8662 25.8397 20.1646 28.135 23 28.135C25.8385 28.135 28.1338 25.8366 28.1338 23.0013C28.1338 20.1628 25.8354 17.8675 23 17.8675ZM23 26.3348C21.1573 26.3348 19.6665 24.844 19.6665 23.0013C19.6665 21.1585 21.1573 19.6677 23 19.6677C24.8427 19.6677 26.3335 21.1585 26.3335 23.0013C26.3335 24.844 24.8427 26.3348 23 26.3348ZM29.5408 17.6625C29.5408 18.3269 29.0001 18.8632 28.3388 18.8632C27.6743 18.8632 27.138 18.3263 27.138 17.6625C27.138 17.0018 27.6781 16.4642 28.3388 16.4642C28.9995 16.4642 29.5408 17.0018 29.5408 17.6625Z"
            fill="white"
          />
        </svg>
        <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_youtube_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_youtube_link }}" class="link list-social__link">
        {% comment %} {%- render 'icon-youtube' -%} {% endcomment %}
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="46"
          height="46"
          viewBox="0 0 46 46"
          fill="none"
        >
          <circle cx="23" cy="23" r="23" fill="#1A1A1A" />
          <path
            d="M32.5825 18.1557C32.3449 17.3123 31.6872 16.6508 30.8401 16.417C29.2802 16 23.0096 16 23.0096 16C23.0096 16 16.7508 15.99 15.1746 16.417C14.3319 16.6515 13.6711 17.3123 13.436 18.1557C13.1403 19.7543 12.9934 21.3723 13.0002 22.9978C12.9971 24.6127 13.1434 26.2282 13.436 27.8168C13.6711 28.6602 14.3319 29.3216 15.1746 29.5592C16.7345 29.9762 23.0096 29.9762 23.0096 29.9762C23.0096 29.9762 29.2646 29.9762 30.8401 29.5592C31.6872 29.3216 32.3449 28.6608 32.5825 27.8168C32.8694 26.2282 33.0095 24.6127 32.9995 22.9978C33.0095 21.3723 32.8726 19.7543 32.5825 18.1557ZM21.0064 25.9906V19.9919L26.2262 22.9978L21.0064 25.9906Z"
            fill="white"
          />
        </svg>
        <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_tiktok_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_tiktok_link }}" class="link list-social__link">
        {%- render 'icon-tiktok' -%}
        <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_twitter_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_twitter_link }}" class="link list-social__link">
        {%- render 'icon-twitter' -%}
        <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_pinterest_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_pinterest_link }}" class="link list-social__link">
        {%- render 'icon-pinterest' -%}
        <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_snapchat_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_snapchat_link }}" class="link list-social__link">
        {%- render 'icon-snapchat' -%}
        <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_tumblr_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_tumblr_link }}" class="link list-social__link">
        {%- render 'icon-tumblr' -%}
        <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_vimeo_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_vimeo_link }}" class="link list-social__link">
        {%- render 'icon-vimeo' -%}
        <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
      </a>
    </li>
  {%- endif -%}
</ul>

