<link rel="stylesheet" href="{{ 'bootstrap.css' | asset_url }}">
<link rel="stylesheet" href="{{ 'global.css' | asset_url }}">
<link rel="stylesheet" href="{{ 'featured-categories-section.css' | asset_url }}">

{%- if section.settings.show_section -%}
  <section class="featured-categories-container" style="margin-top: {{ section.settings.section_mt }}px;">
    <div
      class="container d-flex flex-column justify-content-center align-items-center"
    >
      <h2 style="color: {{ section.settings.heading_color }};
        font-size: {{ section.settings.heading_font_size }}px;
        ">{{ section.settings.heading }}</h2>
      <p style="color: {{ section.settings.desc_color }};
        font-size: {{ section.settings.desc_font_size }}px;
        ">{{ section.settings.desciption }}</p>
      <ul class="featured-categories-cards-wrapper d-flex flex-wrap">
        {%- for block in section.blocks -%}
          <li class="featured-categorie-card">
            <div class="fc-card-wrapper">
              <div class="fc-card-img-wrapper">
                {%- if block.settings.collection.featured_image != blank -%}
                  <img
                    src="{{ block.settings.collection.featured_image | image_url }}"
                    class="w-100 h-auto"
                    width=""
                    height=""
                    loading="lazy"
                  >

                {%- else -%}
                  {{ 'collection-apparel-1' | placeholder_svg_tag: 'placeholder-svg w-100' }}
                {%- endif -%}
              </div>
              <p class="font-family-header">
                {%- if block.settings.collection.title != blank -%}
                  {{ block.settings.collection.title }}

                {%- else -%}
                  Featured Categories
                {%- endif -%}
              </p>
            </div>
          </li>
        {%- endfor -%}
      </ul>
      <button class="btn-orange">Shop All Categories</button>
    </div>
  </section>
{%- endif -%}

{% schema %}
{
  "name": "Featured Categories",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_section",
      "label": "Enable",
      "default": true
    },
    {
      "type": "range",
      "id": "section_mt",
      "min": 10,
      "max": 120,
      "step": 5,
      "unit": "px",
      "label": "Margin Top",
      "default": 80
    },
    {
      "type": "header",
      "content": "Heading"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Featured Categories",
      "label": "Heading"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Font Color",
      "default": "#000"
    },
    {
      "type": "range",
      "id": "heading_font_size",
      "min": 10,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Font Size",
      "default": 38
    },
    {
      "type": "header",
      "content": "Description"
    },
    {
      "type": "textarea",
      "id": "desciption",
      "default": "Description",
      "label": "Description"
    },
    {
      "type": "color",
      "id": "desc_color",
      "label": "Font Color",
      "default": "#000"
    },
    {
      "type": "range",
      "id": "desc_font_size",
      "min": 10,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Font Size",
      "default": 15
    }
  ],
  "blocks": [
    {
      "type": "featured_categories",
      "name": "Featured Categories",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured Categories",
      "blocks": [
        {
          "type": "featured_categories"
        },
        {
          "type": "featured_categories"
        },
        {
          "type": "featured_categories"
        },
        {
          "type": "featured_categories"
        },
        {
          "type": "featured_categories"
        },
        {
          "type": "featured_categories"
        },
        {
          "type": "featured_categories"
        },
        {
          "type": "featured_categories"
        },
        {
          "type": "featured_categories"
        },
        {
          "type": "featured_categories"
        }
      ]
    }
  ]
}
{% endschema %}

{% javascript %}
{% endjavascript %}
