<link rel="stylesheet" href="{{ 'bootstrap.css' | asset_url }}">
<link rel="stylesheet" href="{{ 'global.css' | asset_url }}">
<link rel="stylesheet" href="{{ 'section-footer.css' | asset_url }}">

<footer class="w-100 mt-80 position-relative" style="background: {{ section.settings.footer_bg }}; padding-top: {{ section.settings.footer_top_padding }}px; padding-bottom: {{ section.settings.footer_bottom_padding }}px; ">
  <div class="footer-container container footer-container-top text-white">
    <div class="row">
      {%- for block in section.blocks -%}
        {% case block.type %}
          {% when 'store_information' %}
            <div class="row-column col-md-4">
              <h4 class="font-family-header" style="color:{{ block.settings.store_heading_font_color }}">
                {{ block.settings.store_heading }}
              </h4>
              <a class="store-info-wrapper d-flex" href="{{ block.settings.footer_map_link }}" target="_blank">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="46"
                  height="46"
                  viewBox="0 0 46 46"
                  fill="none"
                >
                  <circle cx="23" cy="23" r="23" fill="#1A1A1A" />
                  <path
                    d="M30.0166 28.7395C30.7229 29.1712 31.0948 29.661 31.0948 30.1596C31.0948 30.6582 30.7229 31.1479 30.0166 31.5797C29.3103 32.0115 28.2944 32.37 27.0711 32.6193C25.8477 32.8686 24.46 32.9998 23.0474 32.9998C21.6348 32.9998 20.2471 32.8686 19.0237 32.6193C17.8003 32.37 16.7845 32.0115 16.0781 31.5797C15.3718 31.1479 15 30.6582 15 30.1596C15 29.661 15.3718 29.1712 16.0781 28.7395"
                    stroke="white"
                    stroke-linecap="round"
                  />
                  <path
                    d="M30.1476 20.1006C30.1476 24.827 25.0048 28.0229 23.4726 28.8701C23.2049 29.0182 22.889 29.0182 22.6212 28.8701C21.0891 28.0229 15.9463 24.827 15.9463 20.1006C15.9463 15.8403 19.3868 13 23.0469 13C26.8339 13 30.1476 15.8403 30.1476 20.1006Z"
                    stroke="white"
                  />
                  <path
                    d="M26.3348 20.1005C26.3348 21.9158 24.8631 23.3875 23.0477 23.3875C21.2324 23.3875 19.7607 21.9158 19.7607 20.1005C19.7607 18.2851 21.2324 16.8135 23.0477 16.8135C24.8631 16.8135 26.3348 18.2851 26.3348 20.1005Z"
                    stroke="white"
                  />
                </svg>
                <span class="text-white" style="max-width:180px">{{ block.settings.footer_address }}</span>
              </a>
              <a
                class="store-info-wrapper d-flex"
                href="tel:+{{ block.settings.footer_contact_number }}"
                target="_blank"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="46"
                  height="46"
                  viewBox="0 0 46 46"
                  fill="none"
                >
                  <circle cx="23" cy="23" r="23" fill="#1A1A1A" />
                  <path
                    d="M16.6796 13.7648L16.7373 13.7071C17.1279 13.3166 17.761 13.3166 18.1516 13.7071L21.1818 16.7373C21.5723 17.1279 21.5723 17.761 21.1818 18.1516L19.9686 19.3647C19.7883 19.545 19.7436 19.8205 19.8576 20.0486C21.1761 22.6856 23.3144 24.8239 25.9514 26.1424C26.1795 26.2564 26.455 26.2117 26.6353 26.0314L27.8484 24.8182C28.239 24.4277 28.8721 24.4277 29.2627 24.8182L32.2929 27.8484C32.6834 28.239 32.6834 28.8721 32.2929 29.2627L32.2352 29.3204C30.1238 31.4317 26.7813 31.6693 24.3925 29.8777L22.2952 28.3048C20.5517 26.9971 19.0029 25.4483 17.6952 23.7048L16.1223 21.6075C14.3307 19.2187 14.5683 15.8762 16.6796 13.7648Z"
                    stroke="white"
                  />
                </svg>
                <span class="text-white">
                  {{ block.settings.footer_contact_number }}
                  <br>
                  {{ block.settings.footer_contact_timing }}
                </span>
              </a>
            </div>

          {% when 'subscribe_form' %}
            {%- if block.settings.show_subscribe_form -%}
              <div class="row-column col-md-3">
                <h5 class="font-family-header">{{ block.settings.footer_form_heading_text }}</h5>
                <form>
                  <input
                    placeholder="{{ block.settings.footer_form_input_placeholder }}"
                    class="text-white {{ block.settings.footer_form_input_size }}"
                  >
                  <button
                    class="btn-orange {{ block.settings.footer_form_button_size }}"
                    style="background-color:{{ block.settings.footer_form_button_bg_color }}; color:{{ block.settings.footer_form_button_font_color }}"
                    type="submit"
                  >
                    {{ block.settings.footer_form_button_label }}
                  </button>
                </form>
                <div class="social-media-container">
                  {%- render 'social-icons' -%}
                </div>
              </div>
            {%- endif -%}
          {%- else -%}
            <div class="row-column {% if block.settings.footer_menu_heading_text == "COMPANY" %}col-md-2 {% else %}col-md-3 {% endif %}">
              <h5 class="font-family-header" style="color:{{ block.settings.footer_menu_heading_font_color }}">
                {{ block.settings.footer_menu_heading_text }}
              </h5>
              <ul class="list-unstyled d-flex flex-column">
                {% for link in linklists[block.settings.footer_menu_list].links %}
                  <li class="mb-2" style="color:{{block.settings.footer_menu_font_color }}">
                    {{ link.title | link_to: link.url }}
                  </li>
                {% endfor %}
              </ul>
            </div>
        {% endcase %}
      {%- endfor -%}
    </div>
    {%- if section.settings.show_footer_image -%}
      {% if section.settings.footer_image %}
        <img
          src="{{ section.settings.footer_image | image_url }}"
          class="footer-car-logo"
          loading="lazy"
          width="{{ section.settings.footer_image_width }}"
          height=""
          alt="footer logo"
        >
      {% else %}
        <img
          src="https://cdn.shopify.com/s/files/1/0842/4131/8197/files/footer-car-logo.svg?v=1698125856"
          class="footer-car-logo"
          loading="lazy"
          width="{{ section.settings.footer_image_width }}"
          height=""
          alt="footer logo"
        >
      {% endif %}
    {%- endif -%}
  </div>

  {%- if section.settings.show_footer_line -%}
    <div class="footer-line w-100 d-block" style="background: {{ section.settings.footer_line_bg }}; height: {{ section.settings.footer_image_height }}px"></div>
  {%- endif -%}

  {%- if section.settings.show_footer_bottom -%}
    <div
      class="footer-container d-flex container footer-bottom-container"
    >
      <span style="color: {{ section.settings.footer_bottom_text_color }}">Autohauler Supply © 2008-2023</span>
      <div class="ms-auto">
        <a href="#" style="color: {{ section.settings.footer_bottom_text_color }}">Terms & Conditions</a>
        <span style="color: {{ section.settings.footer_bottom_text_color }}">|</span>
        <a href="#" style="color: {{ section.settings.footer_bottom_text_color }}">Privacy Policy</a>
        <span style="color: {{ section.settings.footer_bottom_text_color }}">|</span>
        <a href="#" style="color: {{ section.settings.footer_bottom_text_color }}">Sales Tax</a>
      </div>
    </div>
  {%- endif -%}
</footer>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "header",
      "content": "Footer"
    },
    {
      "type": "color",
      "id": "footer_bg",
      "label": "Background",
      "default": "#000"
    },
    {
      "type": "range",
      "id": "footer_top_padding",
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Top Padding",
      "default": 60
    },
    {
      "type": "range",
      "id": "footer_bottom_padding",
      "min": 1,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Bottom Padding",
      "default": 18
    },
    {
      "type": "header",
      "content": "Footer Image"
    },
    {
      "type": "checkbox",
      "id": "show_footer_image",
      "label": "Show",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "footer_image",
      "label": "Image"
    },
    {
      "type": "range",
      "id": "footer_image_width",
      "min": 80,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Size",
      "default": 350
    },
    {
      "type": "header",
      "content": "Footer Line"
    },
    {
      "type": "checkbox",
      "id": "show_footer_line",
      "label": "Show",
      "default": true
    },
    {
      "type": "range",
      "id": "footer_image_height",
      "min": 1,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Thickness",
      "default": 5
    },
    {
      "type": "color",
      "id": "footer_line_bg",
      "label": "Background",
      "default": "#fff"
    },
    {
      "type": "header",
      "content": "Footer Bottom Area"
    },
    {
      "type": "checkbox",
      "id": "show_footer_bottom",
      "label": "Show",
      "default": true
    },
    {
      "type": "color",
      "id": "footer_bottom_text_color",
      "label": "Font Color",
      "default": "#d1d1d1"
    }
  ],
  "blocks": [
    {
      "type": "store_information",
      "name": "Store Information",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Store Heading"
        },
        {
          "type": "inline_richtext",
          "id": "store_heading",
          "default": "VISIT OUR OUTLET STORE!",
          "label": "Heading"
        },
        {
          "type": "color",
          "id": "store_heading_font_color",
          "label": "Font Color",
          "default": "#ff6e30"
        },
        {
          "type": "header",
          "content": "Store Location"
        },
        {
          "type": "url",
          "id": "footer_map_link",
          "label": "Map Link"
        },
        {
          "type": "text",
          "id": "footer_address",
          "label": "Location",
          "default": "2671 Freewood Drive Dallas, Texas 75220"
        },
        {
          "type": "header",
          "content": "Store Contact Detail"
        },
        {
          "type": "text",
          "id": "footer_contact_number",
          "label": "Contact Number",
          "default": "866-855-4285"
        },
        {
          "type": "text",
          "id": "footer_contact_timing",
          "label": "Contact Timing",
          "default": "M-F 8am-5pm CT"
        }
      ]
    },
    {
      "type": "menu",
      "name": "Menu",
      "limit": 2,
      "settings": [
        {
          "type": "header",
          "content": "Menu Heading"
        },
        {
          "type": "inline_richtext",
          "id": "footer_menu_heading_text",
          "default": "COMPANY",
          "label": "Heading"
        },
        {
          "type": "color",
          "id": "footer_menu_heading_font_color",
          "label": "Font Color",
          "default": "#fff"
        },
        {
          "type": "header",
          "content": "Menu Items"
        },
        {
          "type": "link_list",
          "id": "footer_menu_list",
          "label": "Menu"
        },
        {
          "type": "color",
          "id": "footer_menu_font_color",
          "label": "Font Color",
          "default": "#fff"
        }
      ]
    },
    {
      "type": "subscribe_form",
      "name": "Subscribe Form",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_subscribe_form",
          "label": "Show",
          "default": true
        },
        {
          "type": "header",
          "content": "Heading"
        },

        {
          "type": "inline_richtext",
          "id": "footer_form_heading_text",
          "default": "SUBSCRIBE TO OUR NEWSLETTER",
          "label": "Heading"
        },
        {
          "type": "header",
          "content": "Input Field"
        },
        {
          "type": "text",
          "id": "footer_form_input_placeholder",
          "label": "Placeholder",
          "default": "Enter Your Email"
        },
        {
          "type": "select",
          "id": "footer_form_input_size",
          "label": "Button Size",
          "options": [
            {
              "value": "w-50",
              "label": "Small"
            },
            {
              "value": "w-75",
              "label": "Medium"
            },
            {
              "value": "w-100",
              "label": "Large"
            }
          ],
          "default": "w-100"
        },
        {
          "type": "header",
          "content": "Submit Button"
        },
        {
          "type": "text",
          "id": "footer_form_button_label",
          "label": "Button Label",
          "default": "Subscribe"
        },
        {
          "type": "color",
          "id": "footer_form_button_bg_color",
          "label": "Background Color",
          "default": "#FF6E30"
        },
        {
          "type": "color",
          "id": "footer_form_button_font_color",
          "label": "Font Color",
          "default": "#000"
        },
        {
          "type": "select",
          "id": "footer_form_button_size",
          "label": "Button Size",
          "options": [
            {
              "value": "w-50",
              "label": "Small"
            },
            {
              "value": "w-75",
              "label": "Medium"
            },
            {
              "value": "w-100",
              "label": "Large"
            }
          ],
          "default": "w-100"
        }
      ]
    }
  ]
}
{% endschema %}
