<link rel="stylesheet" href="{{ 'header.css' | asset_url }}">
<link rel="stylesheet" href="{{ 'global.css' | asset_url }}">
<link rel="stylesheet" href="{{ 'bootstrap.css' | asset_url }}">

{% if section.settings.show_header %}
  <header class="w-100 font-family-header" style="background:{{section.settings.header_bg}};">
    <div class="header-container container d-flex align-items-center">
      <div class="header-img">
        {% if section.settings.header_logo %}
          <img
            src="{{section.settings.header_logo | image_url}}"
            class="header_company_logo"
            loading="lazy"
            width=""
            height=""
            alt="header logo"
          >
        {% else %}
          <h1>{{ shop.name }}</h1>
        {% endif %}
      </div>
      <ul class="header-menu d-flex">
        {% for link in linklists[section.settings.header_menu].links %}
          <li class="header-menu-list">
            <div class="header-menu-list-wrapper">
              {{ link.title | link_to: link.url }}
            </div>
            {%- if link.levels > 0 -%}
              <div class="mega-menu">
                <div class="container d-flex">
                  <div class="mega-menu-left-section">
                    <h3>
                      {{ link.title }}
                    </h3>
                    <ul class="d-flex flex-column">
                      {%- for child_link in link.links -%}
                        <li>
                          {{ child_link.title | link_to: child_link.url }}
                        </li>
                      {%- endfor -%}
                    </ul> 

                    {% assign megamenu_blocks = section.blocks | where: 'type', 'megamenu' %}
                    {% assign menu_block = blank %}
                    {% for block in megamenu_blocks %}
                      {% break %}
                    {% endfor %}
              
                    <div class="mega-menu-right-section m-auto">
                      <img
                        src="{{ block.settings.header_mega_menu_image | image_url }}"
                        class="mega-menu-image"
                        loading="lazy"
                        width=""
                        height=""
                        alt="Menu Image"
                      >
                    </div>
                  </div>
                  {% comment %}
                    {% if section.settings.header_logo %}
                      <div class="mega-menu-right-section m-auto">
                        <img
                          src="{{block.settings.header_mega_menu_image | image_url}}"
                          class="mega-menu-image"
                          loading="lazy"
                          width=""
                          height=""
                          alt="Menu Image"
                        >
                      </div>
                    {% endif %}
                  {% endcomment %}
                </div>
              </div>
            {%- endif -%}

           {% comment %}
            {% for block in section.blocks %}
              {%- if block.settings.header_mega_menu_label == link.title -%}
                <div class="mega-menu">
                  <div class="container d-flex">
                    <div class="mega-menu-left-section">
                      <h3>
                        {{ block.settings.header_mega_menu_label }}
                      </h3>
                      <ul class="d-flex flex-column">
                        {%- for menu in linklists[block.settings.header_mega_menu_menu].links -%}
                          <li>
                            {{ menu.title | link_to: menu.url }}
                          </li>
                        {%- endfor -%}
                      </ul>
                    </div>
                    {% if section.settings.header_logo %}
                      <div class="mega-menu-right-section m-auto">
                        <img
                          src="{{block.settings.header_mega_menu_image | image_url}}"
                          class="mega-menu-image"
                          loading="lazy"
                          width=""
                          height=""
                          alt="Menu Image"
                        >
                      </div>
                    {% endif %}
                  </div>
                </div>
              {%- endif -%}
            {% endfor %} {% endcomment %}
          </li>
        {% endfor %}
      </ul>
      <form class="header-search-bar d-flex flex-grow-1">
        <input placeholder="Search Out Store..." class="w-100 border-0">
        <button class="border-0" type="submit" aria-label="search">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
          >
            <circle cx="8.2" cy="8.2" r="7.2" stroke="white" />
            <path
              d="M18.9999 19.0004L15.3999 15.4004"
              stroke="white"
              stroke-linecap="round"
            />
          </svg>
        </button>
      </form>
      <div class="header-menu-2 d-flex">
        <a aria-label="account button" href="#" class="btn d-flex justify-content-center align-items-center">
          <img
            src="https://cdn.shopify.com/s/files/1/0842/4131/8197/files/account.svg?v=1698065520"
            loading="lazy"
            width=""
            height=""
            alt="customer icon"
            aria-hidden
          >
        </a>
        <a href="#" aria-label="wishlist button" class="btn d-flex justify-content-center align-items-center">
          <img
            src="https://cdn.shopify.com/s/files/1/0842/4131/8197/files/wishlist.svg?v=1698065582"
            loading="lazy"
            width=""
            height=""
            alt="wishlist icon"
            aria-hidden
          >
        </a>
        <a
          href="#"
          class="btn d-flex justify-content-center align-items-center position-relative"
          aria-label="cart button"
        >
          <img
            src="https://cdn.shopify.com/s/files/1/0842/4131/8197/files/cart.svg?v=1698065601"
            loading="lazy"
            width=""
            height=""
            alt="cart icon"
            aria-hidden
          >
          <span
            class="position-absolute top-0 start-100 translate-middle badge rounded-pill"
          >
            2
            <span class="visually-hidden">unread messages</span>
          </span>
        </a>
      </div>
    </div>
  </header>
{% endif %}

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_header",
      "label": "Show Header",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "header_logo",
      "label": "Header Logo"
    },
    {
      "type": "color",
      "id": "header_bg",
      "label": "Background Color",
      "default": "#fff"
    },
    {
      "type": "link_list",
      "id": "header_menu",
      "label": "Menu"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "textarea",
      "id": "textarea",
      "label": "Textarea"
    }
  ],
  "blocks": [
    {
      "type": "megamenu",
      "name": "Mega Menu",
      "settings": [
        {
          "type": "header",
          "content": "Menu Selection"
        },
        {
          "type": "link_list",
          "id": "header_mega_menu_menu",
          "label": "Menu"
        },
        {
          "type": "text",
          "id": "header_mega_menu_label",
          "label": "Menu Label",
          "info": "This label should be exact same as the menu item."
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "paragraph",
          "content": "Content"
        },
        {
          "type": "image_picker",
          "id": "header_mega_menu_image",
          "label": "Image"
        }        
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
