<link rel="stylesheet" href="{{ 'header.css' | asset_url }}">
<link rel="stylesheet" href="{{ 'global.css' | asset_url }}">
<link rel="stylesheet" href="{{ 'bootstrap.css' | asset_url }}">

{% if section.settings.show_header %}
  <header class="w-100 font-family-header" style="background:{{section.settings.header_bg}};">
    <div class="header-container container d-flex align-items-center">
      <a class="header-img" href="/">
        {% if section.settings.header_logo %}
          <img
            src="{{section.settings.header_logo | image_url}}"
            class="header_company_logo"
            loading="lazy"
            width=""
            height=""
            alt="header logo"
          >
        {% else %}
          <h1>{{ shop.name }}</h1>
        {% endif %}
      </a>
      <ul class="header-menu d-flex">
        {% for link in linklists[section.settings.header_menu].links %}
          <li class="header-menu-list">
            <div class="header-menu-list-wrapper">
              {{ link.title | link_to: link.url }}
            </div>
            {%- if link.levels > 0 -%}
              <div class="mega-menu">
                <div class="container d-flex">
                  <div class="mega-menu-left-section">
                    <h3>
                      {{ link.title }}
                    </h3>
                    <ul class="d-flex flex-column">
                      {%- for child_link in link.links -%}
                        <li>
                          {{ child_link.title | link_to: child_link.url }}
                        </li>
                      {%- endfor -%}
                    </ul>
                  </div>
                  {% assign megamenu_blocks = section.blocks | where: 'type', 'megamenu' %}
                  {% assign menu_block = blank %}
                  {% for block in megamenu_blocks %}
                    {%- if block.settings.header_mega_menu_label == link.title -%}
                      <div class="mega-menu-right-section m-auto">
                        <img
                          src="{{block.settings.header_mega_menu_image | image_url}}"
                          class="mega-menu-image"
                          loading="lazy"
                          width=""
                          height=""
                          alt="Menu Image"
                        >
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            {%- endif -%}
          </li>
        {% endfor %}
      </ul>
      <div>
        <form class="header-search-bar d-flex flex-grow-1" id="predictive-search-form">
          <input
            placeholder="Search Out Store..."
            class="w-100 border-0"
            id="search-input"
          >
          <button class="border-0" type="submit" aria-label="search">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
            >
              <circle cx="8.2" cy="8.2" r="7.2" stroke="white" />
              <path
                d="M18.9999 19.0004L15.3999 15.4004"
                stroke="white"
                stroke-linecap="round"
              />
            </svg>
          </button>
        </form>
        <div class="predictive-results" id="predictive-results"></div>
      </div>
      <div class="header-menu-2 d-flex">
        <a aria-label="account button" href="/account" class="btn d-flex justify-content-center align-items-center">
          <img
            src="https://cdn.shopify.com/s/files/1/0842/4131/8197/files/account.svg?v=1698065520"
            loading="lazy"
            width=""
            height=""
            alt="customer icon"
            aria-hidden
          >
        </a>
        <a href="#" aria-label="wishlist button" class="btn d-flex justify-content-center align-items-center">
          <img
            src="https://cdn.shopify.com/s/files/1/0842/4131/8197/files/wishlist.svg?v=1698065582"
            loading="lazy"
            width=""
            height=""
            alt="wishlist icon"
            aria-hidden
          >
        </a>
        <a
          href="/cart"
          class="btn d-flex justify-content-center align-items-center position-relative"
          aria-label="cart button"
        >
          <img
            src="https://cdn.shopify.com/s/files/1/0842/4131/8197/files/cart.svg?v=1698065601"
            loading="lazy"
            width=""
            height=""
            alt="cart icon"
            aria-hidden
          >
          <span
            class="position-absolute top-0 start-100 translate-middle badge rounded-pill"
          >
            {{ cart.item_count }}
            <span class="visually-hidden">unread messages</span>
          </span>
        </a>
      </div>
    </div>
  </header>
{% endif %}

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_header",
      "label": "Show Header",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "header_logo",
      "label": "Header Logo"
    },
    {
      "type": "color",
      "id": "header_bg",
      "label": "Background Color",
      "default": "#fff"
    },
    {
      "type": "link_list",
      "id": "header_menu",
      "label": "Menu"
    }
  ],
  "blocks": [
    {
      "type": "megamenu",
      "name": "Mega Menu",
      "settings": [
        {
          "type": "header",
          "content": "Menu Selection"
        },
        {
          "type": "text",
          "id": "header_mega_menu_label",
          "label": "Menu Label",
          "info": "This label should be exact same as the menu item."
        },
        {
          "type": "header",
          "content": "Image Selection"
        },
        {
          "type": "image_picker",
          "id": "header_mega_menu_image",
          "label": "Image"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

<script>
  document.addEventListener('DOMContentLoaded', () => {
    let timeOut = '';

    document.getElementById('search-input').addEventListener('input', handlePredictiveSearch);

    function handlePredictiveSearch() {
      var query = document.getElementById('search-input').value;
      if (query.length < 2) {
        document.getElementById('predictive-results').innerHTML = '';
        return;
      }

      if (+timeOut > 0) {
        clearTimeout(timeOut);
      }

      timeOut = setTimeout(async () => {
        await fetch(window.Shopify.routes.root + `search/suggest.json?q=${query}`)
          .then((response) => response.json())
          .then((suggestions) => {
            displayPredictiveResults(suggestions.resources.results);
          })
          .catch((err) => {
            console.log('err', err);
          });
      }, 500);
    }

    function displayPredictiveResults(results) {
      console.log('results', results);
      var resultsDiv = document.getElementById('predictive-results');
      resultsDiv.innerHTML = '';
      if (results.products.length === 0) {
        resultsDiv.innerHTML += '<p>No results found.</p>';
      } else {
        resultsDiv.innerHTML = `<div class="predictive-results-header">PRODUCTS</div>`;

        let listItems = '';

        results.products.forEach((product, key) => {
          listItems += '<li><a href="' + product.url + '">' + product.title + '</a></li>';
        });

        resultsDiv.innerHTML += `<ul>${listItems}</ul>`;
      }
    }
  });
</script>
