<link rel="stylesheet" href="{{ 'header.css' | asset_url }}">
<link rel="stylesheet" href="{{ 'global.css' | asset_url }}">
<link rel="stylesheet" href="{{ 'bootstrap.css' | asset_url }}">

{% if section.settings.show_header %}
  <header class="w-100 font-family-header" style="background:{{section.settings.header_bg}};">
    <div class="header-container container d-flex align-items-center">
      <div class="header-img">
        {% if section.settings.header_logo %}
          <img
            src="{{section.settings.header_logo | image_url}}"
            class="header_company_logo"
            loading="lazy"
            width=""
            height=""
          >
        {% else %}
          <h1>{{ shop.name }}</h1>
        {% endif %}
      </div>
      <ul class="header-menu">
        {% for link in linklists[section.settings.header_menu].links %}
          <li>
            {{ link.title | link_to: link.url }}
          </li>
        {% endfor %}
      </ul>
      <form class="header-search-bar d-flex flex-grow-1">
        <input placeholder="Search Out Store..." class="w-100 border-0">
        <button class="border-0">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
          >
            <circle cx="8.2" cy="8.2" r="7.2" stroke="white" />
            <path
              d="M18.9999 19.0004L15.3999 15.4004"
              stroke="white"
              stroke-linecap="round"
            />
          </svg>
        </button>
      </form>
      <div class="header-menu-2 d-flex">
        <button class="btn d-flex justify-content-center align-items-center">
          <img
            src="https://cdn.shopify.com/s/files/1/0842/4131/8197/files/account.svg?v=1698065520"
            loading="lazy"
            width=""
            height=""
          >
        </button>
        <button class="btn d-flex justify-content-center align-items-center">
          <img
            src="https://cdn.shopify.com/s/files/1/0842/4131/8197/files/wishlist.svg?v=1698065582"
            loading="lazy"
            width=""
            height=""
          >
        </button>
        <button
          class="btn d-flex justify-content-center align-items-center position-relative"
        >
          <img
            src="https://cdn.shopify.com/s/files/1/0842/4131/8197/files/cart.svg?v=1698065601"
            loading="lazy"
            width=""
            height=""
          >
          <span
            class="position-absolute top-0 start-100 translate-middle badge rounded-pill"
          >
            2
            <span class="visually-hidden">unread messages</span>
          </span>
        </button>
      </div>
    </div>
  </header>
{% endif %}

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_header",
      "label": "Show Header",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "header_logo",
      "label": "Header Logo"
    },
    {
      "type": "color",
      "id": "header_bg",
      "label": "Background Color",
      "default": "#fff"
    },
    {
      "type": "link_list",
      "id": "header_menu",
      "label": "Menu"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
